.main.posts-show
  .container
    .posts-show-item
      .post-user-name
        %img{:src => "/user_images/#{@user.image_name}"}/
        = link_to(@user.name, "/users/#{@user.id}")
      %p
        = @post.content
      .post-time
        = @post.created_at
      - if Like.find_by(user_id:@current_user.id, post_id:@post.id)
        = link_to("/likes/#{@post.id}/destroy", {method: "post"}) do
          %span.fa.fa-heart.like-btn-unlike
      - else
        = link_to("/likes/#{@post.id}/create",{method: "post"}) do
          %span.fa.fa-heart.like-btn
      = @likes_count
      - if @post.user_id == @current_user.id
        .post-menus
          = link_to("編集", "/posts/#{@post.id}/edit")
          = link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"})
  -# コメント欄
  -# .comment
  -#   .comment__user
  -#     .comment__user__image
  -#     .comment__user__name name
  -#   .comment__content
  -#     qqqqqqqqqqqqqqqqqqq
  -#   .comment__time
  -#     2019-09-07 04:33:37 UTC
  -# - if @current_user
  -#   .comment-form
  -#     = form_tag("#", method: :post) do
  -#       .comment-form__form
  -#         %textarea{:cols => "30", :name => "text", :placeholder => "コメントを入力してください", :rows => "2"}
  -#       .comment-form__input
  -#         %input{type: "submit", value: "SENT", class:"ppp"}
